<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${message}">

      <!-- Change backgroundColor and foregroundColor to the colors you want to use!!! -->
      <!-- Available colors can be seen at https://github.com/nlog/NLog/wiki/ColoredConsole-target -->
      <highlight-word backgroundColor="Green" foregroundColor="Red" ignoreCase="true"  text="this will be replaced with search term"/>

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>